
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);
/*Contains the web background*/
body {
  background-color: #5f5345;
}
 /*Contains the page layout*/
.pageContainer {
  width: 1500px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;

}
 /*Image of me*/
.imageContainer {
  float: center;
  width: 300px;
  margin: 20px auto 0 auto;
 
}
/*Image of the location*/
.imageContainer2 {
  float: center;
  width: 300px;
  margin: 20px auto 0 auto;
}
 /*Contains the text layout*/
.textContainer {
  float: center;
  width: 300px;
  margin: 20px auto 0 auto;

}



img {
  width: 100%;
  text-align: center;
  height: 300px;
   
}
 
h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 64px;
  color: #8b1b00;
}
 
p, li {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #51473b;
}
header p{
  font-family: 'Copperplate', Fantasy;
  font-size: 24px;
  color: #686868;
  text-align: center;
}
header {
  background-color: #fff;
  text-align: center;
}
main {
	text-align: center;
}
ul {
	display: table;
	margin: 0 auto;
}

ol {
  display: table;
  margin: 0 auto;
}
/*Styled Link*/
a:link {
  background-color: gold;	
  color: green;
}

 
